ul {
    padding-left: 1rem;

    li:not(:last-of-type) {
        padding-bottom:.2rem;
    }
}

ul.with-icon {
    list-style: none;
    li {
        position: relative;
        padding-left: 26px;
        padding-bottom: 0;
        i {
            font-size: 20px;
            position: absolute;
            left: 0;
            top: -2px;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

    }
}

.offcanvas-size-xxxl {
    --#{$prefix}offcanvas-width: min(95vw, 1300px) !important;
}

.offcanvas-size-xxl {
    --#{$prefix}offcanvas-width: min(95vw, 1100px) !important;
}
.offcanvas-size-xl {
    --#{$prefix}offcanvas-width: min(95vw, 900px) !important;
}
.offcanvas-size-lg {
    --#{$prefix}offcanvas-width: min(95vw, 600px) !important;
}
.offcanvas-size-md {
    /* add Responsivenes to default offcanvas */
    --#{$prefix}offcanvas-width: min(95vw, 400px) !important;
}
.offcanvas-size-sm {
    --#{$prefix}offcanvas-width: min(95vw, 250px) !important;
}

.offcanvas-header {
    justify-content: space-between;
}

.offcanvas.offcanvas-bottom,
.offcanvas.offcanvas-top {
    height:auto !important;
    max-height:75vh !important;
}

.parallax__container {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
}

.parallax {
    position: fixed;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;

    /* BG behaviour */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.bg-gutter {
    .overlay {
        width: calc(100% - ($grid-gutter-width * 2));
        left: $grid-gutter-width;
    }
}

.rounded {
    .overlay {
        border-radius: var(--bs-border-radius);
    }
}

.quantity-input {
    width: 120px;
}

.anim-opacity-0 {
    opacity: 0 !important;
}

.large-container {
    max-width: 1740px;
}

//col icindeki sectionlardaki container padding kaldirilmali
// [class^="col"] {
//     .container {
//         padding-left: 0;
//         padding-right: 0;
//     }
// }

//layouts
.custom-layout {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: stretch;

    > .sidebar {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 992px) {
            width: 23%;
            min-width: 23%;
        }

        > .sticky-top {
            //top: 100px;
            z-index: 1019;
        }
    }

    > .custom-layout-content {
        width: 100%;
    }

    &.sidebar-left,
    &.sidebar-right,
    &.sidebar-both {
        @media (min-width: 992px) {
            flex-direction: row;
        }
    }

    &.sidebar-left,
    &.sidebar-right {
        gap: 2rem;

        @media (min-width: 1200px) {
            gap: 3rem;
        }

        > .custom-layout-content {
            @media (min-width: 992px) {
                width: calc(100% - 2rem);
            }

            @media (min-width: 1200px) {
                width: calc(100% - 3rem);
            }
        }
    }

    &.sidebar-both {
        gap: 1.5rem;

        @media (min-width: 1200px) {
            gap: 2rem;
        }

        > .custom-layout-content {
            width: calc(100% - 1.5rem);

            @media (min-width: 1200px) {
                width: calc(100% - 2rem);
            }
        }
    }
}

.container-p-0 {
    .container {
        padding: 0 !important;
    }
}

blockquote {
    background-color: rgba(242, 147, 35, 0.06);
    padding: 30px;
    position: relative;

    > span {
        position: relative;
        z-index: 2;
    }

    > i {
        position: absolute;
        opacity: 0.2;
        z-index: 1;
        right: 30px;
        bottom: 30px;
        font-size: 54px;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.summary,
.accordion-body {
    p:last-of-type {
        margin-bottom: 0;
    }
}

.horizontal-accordeon {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*
    @media (min-width: 992px){
        flex-direction: row;
    }
    */
    .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease;
        overflow: hidden;

        > .content {
            opacity: 0;
            transition: opacity 0.2s ease;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: end;
        }

        &.active {
            flex: 4;
            > .content {
                opacity: 1;
                transition-delay: 300ms;
            }
        }

        &:hover {
            flex:5;
            @media (min-width: 992px) {
                flex: 5;
            }
            > .content {
                opacity: 1;
                transition-delay: 300ms;
            }
        }
    }
}

.infinitie-free-swiper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;

    .swiper-slide {
        width: 150px;
        flex: none;
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
        padding: 0 0.5rem;
        @media (max-width: 767px) {
            width: 100px;
        }
    }

    &.slides-rounded {
        .swiper-slide {
            border-radius: 12px;
            padding: 5px;
        }
    }

    &.slides-bordered {
        .swiper-slide {
            border: 1px solid $border-color;
        }
    }

    &.slides-shadow {
        .swiper-slide {
            box-shadow: 0px 4px 30px 0px #ababab33;
            padding: 5px;
            background-color: $white;
            margin-top: 15px;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }
}