.has-divider {
    > [class^="col-"] > div {
        
        &:after {
            position: absolute;
            content: "";
            display: block;
            width: 20%;
            height: 2px;
            top: 0;
            left: 50%;
            border-left: none;
            border-top: 1px solid var(--bs-dark);
            transform: translate(-50%, -50%);
            z-index: 5;
        }

        @media (min-width: 768px) {
            &.divider-bp-md {

                &:after {
                    width: 2px;
                    height: 40%;
                    top: 30%;
                    bottom: auto;
                    left: 0;
                    right: auto;
                    border-left: 1px solid var(--bs-dark);
                    border-top: none;
                    transform: none;
                }
            }
        }

        @media (min-width: 992px) {
            &.divider-bp-lg {

                &:after {
                    width: 2px;
                    height: 40%;
                    top: 30%;
                    bottom: auto;
                    left: 0;
                    right: auto;
                    border-left: 1px solid var(--bs-dark);
                    border-top: none;
                    transform: none;
                }
            }
        }

        @media (min-width: 1200px) {
            &.divider-bp-xl {
                
                &:after {
                    width: 2px;
                    height: 40%;
                    top: 30%;
                    bottom: auto;
                    left: 0;
                    right: auto;
                    border-left: 1px solid var(--bs-dark);
                    border-top: none;
                    transform: none;
                }
            }
        }
    }

    > [class^="col-"]:is(:first-of-type) > div {
        &:after {
            display: none;
        }
    }
}

.has-slide-divider {
    .swiper-slide {
        @media (min-width: 768px) {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            border-left: 1px solid var(--bs-border-color);

            &:is(:first-of-type) {
                padding-left: 0;
                border-left: none;
            }

            &:is(:last-of-type) {
                padding-right: 0;
            }
        }
    }
}
